 

<h1>Vehiculos</h1>

<div id="vehiculos">
  <% @vehiculos.each do |vehiculo| %>
    <%= render vehiculo %>
 
  <% end %>
</div>

<%= link_to "New vehiculo", new_vehiculo_path %>

<div class=" d-flex justify-content-center align-items-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>